
  body{
    background: url("./images/imgg.jpg") no-repeat center center/cover;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    display: inline-block;
    font-size: 30px;
    
    
  }

  #our{
    font-size: 40px;
    color: brown;
  }
  .by{
    margin-left: 30rem;
    color: aqua;
  }

  #menuField{
    background-color: bisque;
    color: blueviolet;
    padding: 5px;
    border-radius: 5px;
  }
   
  .menuSubmit{
    background-color: bisque;
    color: blueviolet;
    padding: 5px;
    width: 100px;
    margin-left: 5px;
    border-radius: 5px;
  }



  
  



  

