*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p{
  display: flex;
  align-items: center;
  list-style: none;
  background: burlywood;
}
input{
  display: block;
  align-items: center;
  list-style: none;
  background:burlywood;
/* }
submit i{
  background: orange;
  color: #ff5b00;
  padding: 1rem;
  border-radius: 50%; */
  }

  p{
    text-align: center;
    margin:0 auto;
    display: inline-block;
    color:black;
    background: orchid;
    padding: 0.5rem 2rem;
    width: 160px;
    border: none;
    border-radius: 5px;
  }
  items{
    padding: 2rem;
    width: 50rem;
    display: flex;
    text-align: center;
    background: aquamarine;
  }
  body{
    font-family: Arial, Helvetica, sans-serif;
    background: cyan;
  }
  text-center{
    text-align: center;
    }
  



  

